/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/* Make ACF field fullwidth  */
.wp-block.editor-block-list__block.block-editor-block-list__block {
	width: 100% !important;
	max-width: 100%;
}

/* Make repeater fields as columns with flex  */
.acf-field-repeater.acf-field-test-flex-rows table.acf-table .acf-field-test-flex-rows-columns tbody {
	display: flex;
	flex-direction: row;
}


/* Make repeater fields fullwidth  */
.acf-field-repeater.acf-field-test-flex-rows table.acf-table .acf-field-test-flex-rows-columns td.acf-fields {
	width: 100%;
}

/* Make repeater fields fullwidth  */
.acf-field-repeater.acf-field-test-flex-rows table.acf-table .acf-field-test-flex-rows-columns tr.acf-row {
	width: 100%;
	max-width: 100%;
}

/* Wysiwyg textarea height */
.acf-field-repeater.acf-field-test-flex-rows table.acf-table .acf-field-test-flex-rows-columns tr.acf-row .mce-edit-area iframe {
	height: 100px !important;
}



/**
 * Builder Settings
 */

/* Theme colors */
#acf-group_global_settings .acf-color-picker button span { display: none; }
#acf-group_global_settings .acf-color-picker button {
	border-radius: 50% !important;
	border: #c3c3c3 !important;
}

.option-flex .acf-input ul { display: flex; }
.option-flex .acf-input ul li { margin-left: 10px; }











a.btn-option-1,
a.btn-primary.btn-option-1 {
	color: #ffffff;
	background: gray;
	border: 1px #DADADA solid;
	padding: 5px 10px;
	border-radius: 2px;
	font-weight: bold;
	font-size: 9pt;
	outline: none;
	text-decoration: none;
}

a.btn-option-1:hover,
a.btn-primary.btn-option-1:hover {
	border: 1px #C6C6C6 solid;
	box-shadow: 1px 1px 1px #EAEAEA;
	color: #333333;
	background: #F7F7F7;
}

a.btn-option-1:active,
a.btn-primary.btn-option-1:active {
	box-shadow: inset 1px 1px 1px #DFDFDF;
}

/* Blue button as seen on translate.google.com*/
a.btn-option-1.blue,
a.btn-primary.btn-option-1.blue {
	color: white;
	background: #4C8FFB;
	border: 1px #3079ED solid;
	box-shadow: inset 0 1px 0 #80B0FB;
}



a.btn-option-2,
a.btn-primary.btn-option-2 {
	background: gray;
	border: none;
	padding: 10px 15px;
	font-weight: bold;
	font-size: 10pt;
	outline: none;
	text-decoration: none;
	border-radius: 20px;
	color: white;
}

a.btn-option-2:hover,
a.btn-primary.btn-option-2:hover {
	border: 1px #C6C6C6 solid;
	box-shadow: 1px 1px 1px #EAEAEA;
	color: #333333;
	background: #F7F7F7;
}

a.btn-option-2:active,
a.btn-primary.btn-option-2:active {
	box-shadow: inset 1px 1px 1px #DFDFDF;
}



a.btn-option-3,
a.btn-primary.btn-option-3 {
	background-color: #f4f4f4;
	color: #000;
	border: none;
	border-left: 5px solid;
	border-radius: 0;
	font-weight: 700;
	position: relative;
	padding: .8rem 3rem;
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: background-color 1s cubic-bezier(.25,1,.33,1);
	-o-transition: background-color 1s cubic-bezier(.25,1,.33,1);
	transition: background-color 1s cubic-bezier(.25,1,.33,1);
}
