.b__team {
  padding: rem(60px 0px 20px);

  @include media-breakpoint-up(lg) {
    padding: rem(110px 0px 50px);
  }

  img {
    margin-bottom: rem(30px);

    @include media-breakpoint-up(xl) {
      width: 100%;
    }
  }

  .column {
    margin-bottom: rem(50px);
  }

  h3 {
    margin-bottom: rem(10px);
  }

  .modal-header {
    border: none;
    padding-bottom: rem(50px);

    .close:before {
      background-image: url("../images/close-modal.svg");
      content: "";
      position: absolute;
      top: 10px;
      right: 10px;
      background-size: cover;
      width: 15px;
      height: 15px;
    }
  }
  .modal-body {
    .dark-arrow-right:before {
      background-image: url("../images/dark-arrow-right.svg");
      content: "";
      position: absolute;
      top: 150px;
      left: 40px;
      background-size: cover;
      width: 22px;
      height: 41px;
    }

    .dark-arrow-left:before {
      background-image: url("../images/dark-arrow-left.svg");
      content: "";
      position: absolute;
      top: 150px;
      left: 30px;
      background-size: cover;
      width: 22px;
      height: 41px;
    }
  }
}
